body{
    background-image: radial-gradient(#e27f5e,rgb(196, 62, 62));
}
#svgImage{
    border: solid 2px #ecc18c ;
}
#resultAndErrors{
    border: solid 2px #ecc18c ;
}
canvas{
    margin: 7px;
    border: solid 2px #ecc18c;
    border-style: dashed;
}
#canvasInput{
    width: 630px;
    height: 630px;
}
a{
    font-size: 30px;
    font-style: italic;
    color:#f2b56c;
    text-decoration:none;
}
td{
    border: solid 2px #ecc18c;
    width: 320px;
    height: 320px;
}
table{
    border-style: dashed;
    box-shadow: 10px 10px 7px ;
    margin-left: 250px;
}
/*svg{
    margin-top: 2px;
    margin-left: 17px;
}
body{
    background-image: radial-gradient(#e27f5e,rgb(196, 62, 62));
    background-image: radial-gradient(circle,#e27f5e,rgb(196, 62, 62));
}
.mainTd{
    align-content: center;
    width: 420px;
    height: 210px;
    border: solid 2px #ecc18c ;
}
form > div{
    margin-top: 20px;
    margin-left: 100px;
}
.mainTable{
    margin-left: 290px;
    margin-top: 115px;
    min-width: 900px ;
    box-shadow: 10px 10px 7px ;
    outline-style: groove;
    outline-color: #ecc18c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input:hover{
    color:darkblue;
    text-decoration: none;
}
#SUBMIT:focus{
    color: rgb(255, 0, 0);
}
.redirect::first-line{
    font-size: 30px;
}
.redirect:hover{
    font-style: italic;
}
form > div::first-letter{
    font-size: 18px;
    font-family: Georgia;
    font-weight: 700px;
}
a{
    color:#f2b56c;
    text-decoration:none;
}
input{
    background-color: #ecc18c;
    border-color: #ecc18c;
}*/