.shooting{
    border: solid 2px rgb(0, 0, 0);
}
td{
    border: solid 2px gray;
    text-align:center ;
    width: 420px;
    font-size: 25px;
}
body{
    background-color: #ecb18c;
}
table{
    border-style: dashed;
    box-shadow: 10px 10px 7px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
